@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Red+Hat+Display:wght@300;500;700&display=swap);
:root {
  --blue: #003473;
  --blue-marine: #5ad3df;
  --black: #000000;
  --white: #ffffff;
  --gray-blue: #6f8caf;
  --orange: #ff7e54;
  --gray-white: #e3e3e3;
  --gray: #666666;
  --gradient-up: ##235286;
  --gradient-down: #2bc5b7;
  --sm: 12px;
  --md: 16px;
  --lg: 20px;
  --redhat: "Red Hat Display", sans-serif;
  --poppins: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display";
}
