@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Red+Hat+Display:wght@300;500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Red Hat Display';
}