
    $blue: #003473;
    $blue-marine: #5ad3df;
    $black: #000000;
    $white: #ffffff;
    $gray-blue: #6f8caf;
    $orange: #ff7e54;
    $gray-white: #e3e3e3;
    $gray: #666666;
    $gradient-up: #235286;
    $gradient-down: #2bc5b7;
    $sm: 12px;
    $md: 14px;
    $lg: 18px;
    $redhat: "Red Hat Display", sans-serif;
    $poppins: "Poppins", sans-serif;
