@import "../../styles/variables.scss";

footer {
  margin-top: 90pt;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-top {
  height: 20px;
  width: 100%;
  background-color: red;
}

.footer-last {
  background-color: $orange;
  width: 100wv;
  height: 69pt;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-last p {
  color: $white;
  font-size: 12pt;
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-weight: 300;
}

.footer-middle {
  background-color: $blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.footer-middle-address {
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 90pt;
  margin-bottom: 90pt;
  align-items: center;
  width: 402pt;
}

.footer-middle-address p {
  color: $white;
  font-size: 16pt;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  text-align: justify;
  width: 310pt;
}

.footer-middle-address img {
  width: 256pt;
  height: 54pt;
  margin: 20pt 0;
  padding: 0;
  justify-content: center;
  width: 310pt;
}

.footer-middle-address-social {
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 310pt;
}

.social-address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-bottom: 15pt;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15pt;
  
}

.social-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30pt 140pt 50pt 0pt;
}


.social-icons img {
  width: 35pt;
  height: 36pt;
  margin-left: 7pt;
  object-fit: contain;
  padding: 7pt;
  background-color: $white;
  border-radius: 50%;
}
.social-address p {
  color: $white;
  font-size: 16pt;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  text-align: left;
  width: 310pt;
  margin-left: 10pt;
}

.footer-middle-newsletter {
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer-middle-newsletter p {
  color: $white;
  font-size: 20pt;
  font-family: $poppins;
  font-weight: 300;
  text-align: left;
  width: 310pt;
  text-align: center;

}

input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
  outline: none;
}

button {
  background-color: $orange;
  border-radius: 16pt;
  border: 0;
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 12pt;
  white-space: nowrap;
  width: 157pt;
  height: 30pt;
  padding: 8pt auto;
  margin: 27pt;
  color: $white;
  cursor: pointer;
}

.oval {
  top: 0;
  left: 0;
  border-radius: 50% 50% 0 0;
  background-color: #ff5f5f;
}

.square {
  top: 0;
  left: 33.33%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  background-color: #00bfff;
}

.oval:last-child {
  top: 0;
  left: 66.66%;
  border-radius: 50% 50% 0 0;
  background-color: #ffdc2e;
}
