@import "../../styles/variables.scss";

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 120px;
  background-color: $blue;
}

.nav-menu-items{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.nav-menu-items-item a {
  color: $white;
  font-size: $md;
  font-weight: 500;
  text-decoration: none;
}

.nav-menu-links{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.nav-menu-links button {
  margin-right: 20px;
  background-color: $blue-marine;
  border-radius: 16px;
  border: 0;
  height: 41px;
  width: auto;
  font-weight: 600;
  font-family: "Helvetica", sans-serif;
  white-space: nowrap;
  min-width: 210px;
  font-size: $md;
}

.nav-menu-links-content-img{
  width: 26px;
  height: 26px;
  margin-left: 10px;
  object-fit: contain;
  padding: 10px;
  background-color: $orange;
  border-radius: 50%;
}

.nav-menu-links-content-img img{
  width: 100%;
}